<a href="https://colab.research.google.com/github/Lupin3-droid/Lupin3-droid/blob/main/kazi_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#import dependancies.
import pandas as pd
import numpy as np

In [ ]:
#import data
df=pd.read_excel("/content/kazi_m.xlsx")
df.head()

,Unnamed: 0,Mentor_ID,Mentor_Name,Mentee_Name,Session_Number,Session_Duration_Min,Job_Info_Completed,Session_Date,Points_Awarded
0,2001.0,1003.0,Sarah Clark,Bob Brown,1.0,40.0,Yes,2023-01-01,NaN
1,2002.0,1003.0,Emily Davis,Carol White,2.0,30.0,Yes,2023-01-08,NaN
2,2003.0,1005.0,James Wilson,Jane Smith,2.0,40.0,Yes,2023-01-15,NaN
3,4.0,1005.0,David Thompson,NaN,2.0,50.0,Yes,2023-01-22,NaN
4,2001.0,1004.0,Emily Davis,Bob Brown,1.0,30.0,No,2023-01-29,NaN

In [ ]:
#checking for missing values.
df.isnull().sum()

Unnamed: 0                1
Mentor_ID                 1
Mentor_Name               0
Mentee_Name               2
Session_Number            1
Session_Duration_Min      2
Job_Info_Completed        1
Session_Date              1
Points_Awarded          109
dtype: int64

In [ ]:
#checking for duplicates based on 'Mentee_Name' and 'Session_Date' columns
duplicates = df[df.duplicated(subset=["Mentee_Name","Session_Date"], keep=False)]
# Displaying the duplicates
print(duplicates)
# Counting the number of duplicate rows
num_duplicates = duplicates.shape[0]
print(f"Number of duplicate rows: {num_duplicates}")

     Unnamed: 0  Mentor_ID     Mentor_Name    Mentee_Name  Session_Number  \
5        2003.0     1002.0  David Thompson     Jane Smith             2.0
6        2003.0     1002.0     Michael Lee     Jane Smith             2.0
19       2002.0     1005.0    James Wilson    Carol White             1.0
20       2002.0     1005.0     Emily Davis    Carol White             1.0
37         19.0     1005.0  David Thompson    Carol White             1.0
47       2003.0     1004.0     Emily Davis     Jane Smith             1.0
48       2002.0     1005.0     Michael Lee    Carol White             2.0
56       2005.0     1003.0     Michael Lee  Alice Johnson             2.0
73         71.0     1005.0     Emily Davis     Jane Smith             1.0
87         84.0     1003.0     Emily Davis    Carol White             2.0
104      2002.0     1003.0     Michael Lee    Carol White             2.0
105        54.0     1003.0     Michael Lee  Alice Johnson             2.0
106      2003.0     1005.0     Michael Lee     Jane Smith             1.0
107        46.0     1005.0     Michael Lee    Carol White             2.0
108        45.0     1004.0     Michael Lee     Jane Smith             1.0

     Session_Duration_Min Job_Info_Completed Session_Date  Points_Awarded
5                    50.0                 No   2023-02-05             NaN
6                    50.0                 No   2023-02-05             NaN
19                   50.0                 No   2023-05-07             NaN
20                   50.0                 No   2023-05-07             NaN
37                   50.0                 No   2023-05-07             NaN
47                   30.0                 No   2023-11-05             NaN
48                   40.0                Yes   2023-11-12             NaN
56                   30.0                Yes   2024-01-07             NaN
73                   50.0                Yes   2024-05-05             NaN
87                   20.0                 No   2024-08-04             NaN
104                  20.0                 No   2024-08-04             NaN
105                  30.0                Yes   2024-01-07             NaN
106                  50.0                Yes   2024-05-05             NaN
107                  40.0                Yes   2023-11-12             NaN
108                  30.0                 No   2023-11-05             NaN
Number of duplicate rows: 15

In [ ]:
#dealing with missing values
df2=df.drop(columns=["Points_Awarded"])
df2.dropna(inplace=True)
df2.info()
df2.head(14)

<class 'pandas.core.frame.DataFrame'>
Index: 106 entries, 0 to 108
Data columns (total 8 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Unnamed: 0            106 non-null    float64
 1   Mentor_ID             106 non-null    float64
 2   Mentor_Name           106 non-null    object
 3   Mentee_Name           106 non-null    object
 4   Session_Number        106 non-null    float64
 5   Session_Duration_Min  106 non-null    float64
 6   Job_Info_Completed    106 non-null    object
 7   Session_Date          106 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4), object(3)
memory usage: 7.5+ KB

,Unnamed: 0,Mentor_ID,Mentor_Name,Mentee_Name,Session_Number,Session_Duration_Min,Job_Info_Completed,Session_Date
0,2001.0,1003.0,Sarah Clark,Bob Brown,1.0,40.0,Yes,2023-01-01
1,2002.0,1003.0,Emily Davis,Carol White,2.0,30.0,Yes,2023-01-08
2,2003.0,1005.0,James Wilson,Jane Smith,2.0,40.0,Yes,2023-01-15
4,2001.0,1004.0,Emily Davis,Bob Brown,1.0,30.0,No,2023-01-29
5,2003.0,1002.0,David Thompson,Jane Smith,2.0,50.0,No,2023-02-05
6,2003.0,1002.0,Michael Lee,Jane Smith,2.0,50.0,No,2023-02-05
7,2004.0,1004.0,Sarah Clark,John Doe,2.0,40.0,Yes,2023-02-12
9,2002.0,1004.0,Sarah Clark,Carol White,1.0,30.0,No,2023-02-26
10,2002.0,1002.0,James Wilson,Carol White,1.0,40.0,No,2023-03-05
11,2001.0,1003.0,Sarah Clark,Bob Brown,1.0,30.0,Maybe,2023-03-12
12,2005.0,1002.0,Emily Davis,Alice Johnson,2.0,40.0,No,2023-03-19
13,13.0,1003.0,Emily Davis,Jane Smith,1.0,20.0,Yes,2023-03-26
14,2005.0,1005.0,David Thompson,Alice Johnson,2.0,30.0,Yes,2023-04-02
15,2001.0,1001.0,Sarah Clark,Bob Brown,2.0,30.0,No,2023-04-09

In [ ]:
#checking for duplicates based on 'Mentee_Name' and 'Session_Date' columns
duplicates = df2[df2.duplicated(subset=["Mentee_Name","Session_Date"], keep=False)]
# Displaying the duplicates
print(duplicates)
# Counting the number of duplicate rows
num_duplicates = duplicates.shape[0]
print(f"Number of duplicate rows: {num_duplicates}")

     Unnamed: 0  Mentor_ID     Mentor_Name    Mentee_Name  Session_Number  \
5        2003.0     1002.0  David Thompson     Jane Smith             2.0
6        2003.0     1002.0     Michael Lee     Jane Smith             2.0
19       2002.0     1005.0    James Wilson    Carol White             1.0
20       2002.0     1005.0     Emily Davis    Carol White             1.0
37         19.0     1005.0  David Thompson    Carol White             1.0
47       2003.0     1004.0     Emily Davis     Jane Smith             1.0
48       2002.0     1005.0     Michael Lee    Carol White             2.0
56       2005.0     1003.0     Michael Lee  Alice Johnson             2.0
73         71.0     1005.0     Emily Davis     Jane Smith             1.0
87         84.0     1003.0     Emily Davis    Carol White             2.0
104      2002.0     1003.0     Michael Lee    Carol White             2.0
105        54.0     1003.0     Michael Lee  Alice Johnson             2.0
106      2003.0     1005.0     Michael Lee     Jane Smith             1.0
107        46.0     1005.0     Michael Lee    Carol White             2.0
108        45.0     1004.0     Michael Lee     Jane Smith             1.0

     Session_Duration_Min Job_Info_Completed Session_Date
5                    50.0                 No   2023-02-05
6                    50.0                 No   2023-02-05
19                   50.0                 No   2023-05-07
20                   50.0                 No   2023-05-07
37                   50.0                 No   2023-05-07
47                   30.0                 No   2023-11-05
48                   40.0                Yes   2023-11-12
56                   30.0                Yes   2024-01-07
73                   50.0                Yes   2024-05-05
87                   20.0                 No   2024-08-04
104                  20.0                 No   2024-08-04
105                  30.0                Yes   2024-01-07
106                  50.0                Yes   2024-05-05
107                  40.0                Yes   2023-11-12
108                  30.0                 No   2023-11-05
Number of duplicate rows: 15

In [ ]:
#dealing with duplicates in df2
df2.drop_duplicates(subset=["Mentee_Name","Session_Date"], keep="first", inplace=True)
df2.head(14)
df2.duplicated().sum()

0

In [ ]:
df2.duplicated().sum()

0

In [ ]:
#convert df2 into a csv excel file and save to my computer desktop
df2.to_csv("C:\\Users\\komora\\Desktop\\df2.csv")