<a href="https://colab.research.google.com/github/Lupin3-droid/Lupin3-droid/blob/main/starting_point.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
name="karu data science"
print("this is:",name)

num1=10
num2=30
sum=num1+num2
print("the sum is:",sum)

def sumfunct(num1,num2):
    #local var
    num1=float(input("enter num1 "))
    num2=float(input("enter num2 "))

    return num1+num2

sumfunct(num1,num2)

this is: karu data science
the sum is: 40
enter num1 5
enter num2 8

13.0

In [ ]:

name= input("please enter your names: ")
height=float(input("enter height in meters "))
weight=float(input("enter weight in kilograms "))
BMI= weight/(height*height)
print("your bmi is:",BMI)

if(BMI<=18.5):
     print("You are Underweight")
elif (BMI<=25.0):
    print(" your weight is normal")
elif(BMI<=30.0):
    print("you are overweight")
else:
    print(" obese")

please enter your names: komora
enter height in meters 1.7
enter weight in kilograms 70
your bmi is: 24.221453287197235
 your weight is normal

In [ ]:
import pandas as pd
datame={"cars":["v","d","f"],
        "passings":[3,2,4]
}
myarr=pd.DataFrame(datame)
print(myarr)

  cars  passings
0    v         3
1    d         2
2    f         4

In [ ]:
import pandas as pd
a=[1,2,3]
k=pd.Series(a,index=["w","e","r"])
print(k)
print(k[1])
print(k["w"])

w    1
e    2
r    3
dtype: int64
2
1

In [ ]:
import pandas as pd
calories={"days":[1,2,3,4],
          "amount":[420,430,980,554]
          }
myvar=pd.DataFrame(calories)
print(myvar)

   days  amount
0     1     420
1     2     430
2     3     980
3     4     554